# data / models (also potentially very large)
data/
models/
models
treq_eval*

# pyc files aren't necessary
*.pyc

# the pycharm part isn't either
.idea

# large "data" files
*.h5
*.pkl
*.txt
*.dict
*.model
*.embeddings

# virtual environments
venv/
ENV/

# keras install
Keras.*
dist/

